<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">CodeAge</a>
      <div class="navbar-content">
        <ul class="nav">
          <li class="active">
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>