<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">CodeAge</a>
      <div class="navbar-content">
        <ul class="nav">
          <% if current_user %>
              <li class="<%= 'active' if params[:action] == 'profile' %>">
                <a href="/profile" class="<% %>">Profile</a>
              </li>
          <% end %>
          <li class="<%= 'active' if params[:action] == 'about' %>">
            <a href="/about">About</a>
          </li>
        </ul>
          <% if current_user %>
            <a class="btn pull-right">
              Logout<span class="icon-off"></span>
            </a>
          <% end %>
      </div>
    </div>
  </div>
</div>