<%- title "About" %>
<div class="span12">
  <h1>CodeAge</h1>
  <p>
    <span class="cacolor">CodeAge</span> is a social game for <span class="cacolor">github</span> users that helps to improve interaction
    with github by giving your badges and achievements depends on your github's experience.
  </p>
</div>
