  <div class="container span6">
    <h1>What is CodeAge?
      <br>
    </h1>
    <p>Enter your paragraph text here.</p>
  </div>
  <div class="container span6">
    <h1>Login with GitHub
      <br>
    </h1>
    <div class="control-group">
      <label class="control-label">Label Text</label>
      <div class="controls">
        <input class="input-large" type="text">
      </div>
    </div>
  </div>