<div class="span12">
  <h1>CodeAge</h1>
</div>
<div class="span4">
  <h2>What is CodeAge?</h2>
  <p>
    <span class="cacolor">
      <%= image_tag 'logo25.png' %>CodeAge</span> is a social game for
    <span class="cacolor">
      <%= image_tag 'github.png' %>Github
    </span>
    users that helps to improve your Github activity by giving you badges and achievements depending on your projects experience.
  </p>
  <p>
    <h2>5 reasons to use us</h2>
    <ol class="whywearecool">
      <li>It's cool!</li>
      <li>It's fun!</li>
      <li>It's totally free!</li>
      <li>........</li>
      <li><b>PROFIT!!!!!!!!!!!</b></li>
    </ol>
  </p>
  <p>
    <h2>Our team</h2>
    <ul class="our-avatars">
      <li>
        <a href="http://github.com/brain-geek" rel="tooltip" title="Alex Rozumiy">
          <img src="https://secure.gravatar.com/avatar/53932402936738befac59b60daf5f98f?s=60&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" class="avatar" />
        </a>
        <a href="http://github.com/miroshko" rel="tooltip" title="Oleksii Miroshko">
          <img src="https://secure.gravatar.com/avatar/0dc7c07739a7ce56de1751c6aaf18bed?s=60&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" class="avatar" />
        </a>
        <a href="http://github.com/azarichnyi" rel="tooltip" title="Andrii Zarichnyi">
          <img src="https://secure.gravatar.com/avatar/1d779b2314fabcf47a7b7d36651ede8e?s=60&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" class="avatar" />
        </a>
        <a href="http://github.com/vessi" rel="tooltip" title="Mikhail Bortnyk">
          <img src="https://secure.gravatar.com/avatar/07cd6e66d8d4820b622337785f2989bb?s=60&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" class="avatar" />
        </a>
      </li>
    </ul>
  </p>
</div>
<div class="span4">
  <h2>Recent Earners</h2>
</div>
<div class="span4">
  <h2>Top Badgers</h2>
</div>