<div class="span12">
  <h1>We can't proceed without your email address</h1>
  <p>
    Sorry about that...
  </p>
  <p>
    But it seems like you have to fill an email field in your GitHub profile in order to sign up into our system.
  </p>
  <p>
    <a class="btn btn-warning" target="_blank" href="https://github.com/settings/profile">Go to GitHub and fill <span class='icon-envelope'></span> right now</a>
  </p>
</div>