<%- title "Email required" %>
<div class="span12">
  <h1>We can't proceed without your email address</h1>
  <p>
    Sorry about that...
  </p>
  <p>
    But we need to know your email address at the current step.<br>
    There are 2 ways of solving this tiny problem:
    <br>
    <h3>Fill an email field in your GitHub profile and try logging to Codeage again.</h3>
  </p>
  <p>
    <a class="btn btn-warning" target="_blank" href="https://github.com/settings/profile">Go to GitHub and fill <span class='icon-envelope'></span> right now</a>
  </p>
  <p>            <br>
    <h3>If you don't want to share your email with others, you always can provide us with it privately. We guarantee that
    it will never be put in public and transfered to third parties.</h3>
  </p>
  <%= form_tag noemail_url do %>
    <%= email_field_tag :email, nil, class: 'input-medium search-query', placeholder: 'Email' %>
    <%= submit_tag 'Save email address', class: 'btn btn-success' %>
  <% end %>
</div>