<div class="span12">
  <h1>We can't proceed without your email address</h1>
  <p>
    Sorry about that...
  </p>
  <p>
    But we need to know your email address at the current step.<br>
    There are 2 ways of solving this tiny problem:
    <br>
    <h3>Fill an email field in your GitHub profile.</h3>
  </p>
  <p>
    <a class="btn btn-warning" target="_blank" href="https://github.com/settings/profile">Go to GitHub and fill <span class='icon-envelope'></span> right now</a>
  </p>
  <p>            <br>
    <h3>If you don't want to share your email with others, you always can provide us with it privately. We guarantee that
    it will never be put in public and transfered to third parties.</h3>
  </p>
  <form class="form-search" action="">
    <input  placeholder="Email" type="text" class="input-medium search-query" name="email">
    <button type="submit" class="btn btn-success">Save email address</button>
  </form>
</div>