<h1>Hello, <%= @user %>!</h1>

<% if @achievements.count == 1 %>
  You've just received new badge on Codeage:
<% else %>
  You've just received new badges on Codeage:
<% end %>

<% @achievements.each do |ach| %>
  <b><%= ach.class.title %></b>
  <p><%= ach.description %></p>
<% end %>