<div class="span12">
  <h1>Login required</h1>
  <p>In order to use the site you have to login. The only way to do so is to bind your GitHub account.</p>
  <p>
    <a href="/settings/auth/github" class="btn btn-warning"></a>
  </p>
</div>