<% if achievements.empty? %>
      <p class="alert alert-error">
        This user hasn't achieved anything yet.
      </p>
<% else %>
<ul>
<% achievements.each do |a| %>
     <li><%= image_tag(a.class.image_path, :alt => a.class.title) %></li>
<% end %>
</ul>
<% end %>