<%- title "Profile" %>
<div class="span12">
  <h1>Profile</h1>
  <p>

  </p>
</div>
<div class="span5">
  <%= render :partial => 'user', :locals => {user: current_user} %>
</div>
<div class="span7">
  <h2>Your CodeAge Achievements</h2>
  <p>
    <%= render :partial => 'achievements', :locals => {user: current_user} %>
  </p>
</div>