<%- title @user.name %>
<div class="span12">
  <h1>Public Profile</h1>
  <p>

  </p>
</div>
<div class="span5">
  <%= render :partial => 'user', :locals => {user: @user} %>
</div>
<div class="span7">
  <h2><%= (@user.name.split ' ')[0] %>'s CodeAge Achievements</h2>
  <%= render :partial => 'achievements', :locals => {user: @user} %>
</div>