<%- title @user.name %>
<div class="span12">
  <h1>Public Profile</h1>
  <p>

  </p>
</div>
<div class="span4">
  <%= render :partial => 'user', :locals => {user: @user} %>
</div>
<div class="span8">
  <h2><%= @user.nickname %>'s CodeAge Achievements</h2>
  <% if current_user.achievements_fetched_at.nil? %>
    <div id="achievements_container" clas="notready" />
  <% else %>
    <%= render :partial => 'achievements', :locals => {user: current_user} %>
  <% end %>
</div>