
.container {
    background: rgba(255,255,255,0.01)
}

.footer {
    margin-top: 40px;
    background: rgba(0,0,0,0.3);
    border-radius: 0 0 6px 6px;

  p {
    padding: 15px;
    font-style: italic;
  }
}

h1 {
    color: #87ca4d;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}

h2 {
  color: #fbb450;
  font-size: 1.6em;
}

h3 {
  color: #2a85a0   ;
  font-size: 1.3em;
  line-height: 110%;
}

.navbar .brand {
    color: #c67605;
}

.page > * > * {
             padding: 0 15px;
}

.user {
  .name {
    margin-bottom:0;
  }

  .nickname{
    margin-top: -10px;
  }

  .gravatar {
    margin: 10px 0;
  }
}