<h2>Top Badgers</h2>

<ul class="celler">
  <% @tops.each do |element| %>
    <li>
      <%= link_to user_path(:username => element[:user].nickname) do %>
          <span class="photo">
            <%= image_tag(element[:user].gravatar + '&s=36', :alt => element[:user]) %>
          </span>
          <%= element[:user] %><% end %>

  has <%= element[:count] %> badges.
    </li>
  <% end %>
</ul>