<% if flash.any? %>
    <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
            <div class="alert alert-<%= flash_class(level) %>">
              <a class="close" href="#" class="close" data-dismiss="alert">×</a>
              <%= content_tag :span, flash[level] %>
            </div>
        <% end %>
    <% end %>
<% end %>