<div class="container footer">
  <p class="pull-left">
    &copy; Codeage, 2012. Updating info every 15 minutes. Bug reports are welcome to twitter.
  </p>
  <p class="pull-right">
    <a href="https://twitter.com/CodeAgeNet" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @CodeAgeNet</a>
  </p>
</div>