<div class="container footer">
  <p class="pull-left">
    CodeAge. Rails Rumble 2012.
  </p>
  <p class="pull-right">
    <a href="https://twitter.com/CodeAgeNet" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @CodeAgeNet</a>
  </p>
</div>