<div class="container footer">
  <p>
    CodeAge. Rails Rumble 2012.
    <a href="https://twitter.com/CodeAgeNet" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @CodeAgeNet</a>
  </p>
</div>